@font-face {
    font-family: SongerByAlexanderPravdin;
    src: url("SONGERT_SE_Heavy.otf") format("opentype");
}

.img-responsive {
    margin: 0 auto;
}

.smaller-image {
  width: 150px;
}

html, body, .container-table {
	height: 100%;
	font:inherit;
    font-weight: 400;
}

body {
	padding-top: 70px;
}

h1 {
	font-family: SongerByAlexanderPravdin, sans-serif;
}

div {
	font-family: sans-serif;
}

.container-table {
   display: table;
}
.vertical-center-row {
   display: table-cell;
   vertical-align: middle;
}

.adresa-speciala:after {
  content: attr(data-x) "@" attr(data-y) "." attr(data-z); 
}

.evident {
	background-color:tomato;
	color:white;
}

tr.gri td {
  color: #808080;
}

